.sidebar{
    padding: 20px;
    width: 30%;
}
.sidebar .input{
    background-color: #fff;
display: flex;
align-items: center;
padding: 5px 10px;
border-radius: 20px;
width: 100%;
}
.input input{
    border: none;
    outline: none;
    font-size: 15px;
    width: 100%;
    margin-left: 10px;
}
.sidebar h3{
    margin:10px 0;
}