*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
 font-family: 'Open Sans', sans-serif;
font-family: 'Source Sans Pro', sans-serif;
user-select: none;
}
body{
  background-color: rgb(236, 245, 225);
  overflow: hidden;
}

